body{
    font-family: Arial, Helvetica, sans-serif;
}

fieldset{
    box-shadow: 3px 3px 3px rgba(50, 50, 50, 0.5);
    background-color: antiquewhite;
}

legend{
    background-color: blueviolet;
    padding: 10px;
    color: white;
}

.form-row{
    display: flex;
    gap: 10px;
}

.check-row{
    display: flex;
}

.form-row label {
    width: 150px;
    text-align: right;
}

.spacer {
    width: 150px;
    text-align: right;
}

input:not([type='submit']), select, textarea {
    padding: 10px;
    font-size: 1.5em;
    border-radius: 3px;
    background-color: #AAA;
}

@media only screen and (max-width: 600px){
    .form-row, .check-row{
        flex-direction: column;
    }

    .form-row label{
        text-align: left;
    }

    .spacer{
        text-align: left;
    }
}