body{
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color: aquamarine;
    padding: 1px;
    margin: auto;
    text-align: center;
}

nav{
    background-color: rgb(124, 141, 141);
    margin: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 10px;
    display: block;
}

.pic{
    width: 250px;
    height: 300px;
    border: thin solid;
    margin: 10px;
    box-shadow: 10px 10px 10px ;
}

.pic img{
    width: 250px;
}

.pic figcaption{
    padding: 10px;
}

.G1{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.small{
    font-size: small;
}

aside{
    margin-left: auto;
    /* display: grid;
    grid-template-columns: 1fr; */
}

main{
    margin-right: auto;
    display: flex;
    flex-flow: wrap row;
    gap: 5px;
}

.G2{
    display: grid;
    grid-template-columns: 30% 70%;
}

footer a {
    display: block;
    text-decoration: none;
}