body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: aliceblue;
}

#wrapper {
    width: 600px;
    margin: 0 auto;
    background-color: #fff;
    border: thin solid #000;
}

header{
    background-color: rgb(84, 125, 52);
    width: 70%;
    margin: 30 auto;
    padding: 50px 30px 100px 3px;
}

figure{
    border: thin solid #000;
    width: 200px;
}

img{
    width: 200px;
}

nav{
    background-color: #aaa;
    height: 200px;
    margin-bottom: 40px;
    margin-top: 40px;
}